.wrapper {
    width: 80%;
    margin: 50px auto 0;
    text-align: center;
  }
  
  .wrapper {
    width: 80%;
    margin: 50px auto 0;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
  
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04aa6d;
  }

  .nav_link{
    text-decoration: none;
    color:hotpink;
    font-size: 20px;
    font-weight: 700;
  }