/* .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
} */

.icon{
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.link{
      font-family: "Roboto","Helvetica","Arial",sans-serif;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: inherit;
  pointer-events: none;
}

.footer{
background-color: #333;
color: #FFF;
padding: 25px 50px;
}


